.DS_Store
**.pyc
**.dat
**.html
**.tmproj
**.pdf
**.png
**.jpeg
**.jpg
**.pkl
MANIFEST
brownian/stanmodels/gamma.exe
brownian/stanmodels/gamma.linux
brownian/stanmodels/gamma.osx
brownian/stanmodels/gamma2.exe
brownian/stanmodels/gamma2.linux
brownian/stanmodels/gamma2.osx
docs/_build/
build/
dist/
src/
**.sublime-project
**.sublime-workspace
**.egg-info
